<!--<table class="table table-hover">

<thead>
    <tr>
        <td>id</td>
        <td>Marca</td>
        <td>Descripcion</td>
        <td>Valor alquiler</td>
        <td>Valor con descuento</td>
        <td>Tipo</td>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="item in vm.vehiculos">
            <td>{{item.id}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.valorAlquiler}}</td>
            <td>{{item.valorDescuento}}</td>
            <td>{{item.tipo}}</td>
    </tr>
</tbody>
</table>
-->


<md-table-container>
  <table md-table>
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column >Id</th>
        <th md-column >Marca</th>
        <th md-column >Descripción</th>
        <th md-column >Valor Alquiler</th>
        <th md-column >Tipo</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="item in vm.vehiculos | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
        <td md-cell>{{item.id}}</td>
        <td md-cell>{{item.marca}}</td>
        <td md-cell>{{item.descripcion}}</td>
        <td md-cell>{{item.valorAlquiler}}</td>
        <td md-cell>{{item.tipo}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.limit" md-limit-options="[2, 4, 6]" md-page="vm.query.page" md-total="{{vm.vehiculos.length}}" md-page-select></md-table-pagination>
